section.landing
  svg.landing-logo: use(xlink:href="./svg/sprite.svg#logo")
  h1.landing-header Jim Saari
  h2.landing-subheader Developer & Designer
  a(href='#contact' class="landing-contact-button")
    button Contact
      .rippleJS
  svg.landing-arc: use(xlink:href="./svg/sprite.svg#arc")