article.right,
article.left {
  @include for-tablet-portrait-up() {
    .article-image-container.expand {
      width: 100vw;
      border-radius: 2px;
    }
  }
}
@include for-phone-only() {
  .article-body.expand {
    transform: translateY(0);

    &::before {
      content: "";
      height: (360px / 2);
      top: (-310px / 2 - 25px);
    }
  }
}