.skill {
  &-section {
    margin-bottom: 0;

    @include for-desktop-up() {
      margin-bottom: 80px;
    }
  }
  &-container {
    display: flex;
    flex-flow: row wrap;
    
    @include for-phone-only() {
      width: 100%;
      justify-content: space-around;
    }
    @include for-tablet-portrait-up() {
      width: 75%;
    }
    @include for-desktop-up() {
      width: 960px;
      margin-top: 40px;
      justify-content: space-between;
    }
  }
  &-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @include for-phone-only() {
      flex: 0 1 50%;
    }
    @include for-tablet-portrait-up() {
      flex: 0 1 50%;
    }
    @include for-desktop-up() {
      flex-basis: 25%;
    }
  }

  &-svg {
    transform: rotate(-90deg);
    transition: transform 200ms cubic-bezier(.37,-0.44,.58,1.47);
    width: 100%;
    
    @include for-phone-only() {
      margin: 16px;
    }
    @include for-tablet-portrait-up() {
      margin: 32px;
    }
    @include for-desktop-up() {
      margin: 24px;
    }
  }

  &-name {
    @include position(absolute, 0 0 0 0);
    margin: auto;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    color: $font-color;
    
    @include for-phone-only() {
      font-size: 1.6rem;
    }
  }
}