// Variables
$work-height-small: 360px;
$work-height-medium: 480px;
$work-height-large: 640px;

#work {
  overflow-x: hidden;
}

article {
  @include for-phone-only() {
    @include size(calc(100vw - 16px), $work-height-small);
    position: relative;
    margin-bottom: 8px;
    border-radius: 1px;
    overflow: hidden;
  }
  @include for-tablet-portrait-up() {
    display: flex;
    width: 100%;
    margin-bottom: 16px;
  }
  @include for-desktop-up() {
    width: 960px;
    margin-bottom: 32px;
  }
  @include for-big-desktop-up() {
    height: $work-height-large;
    margin-bottom: 48px;
  }

  &:last-of-type {
    @include for-phone-only() {
      margin-bottom: 40px;
    }
    @include for-tablet-portrait-up() {
      margin-bottom: 64px;
    }
    @include for-desktop-up() {
      margin-bottom: 160px;
    }
  }
}

.article-body {
  text-align: center;
  
  @include for-phone-only() {
    @include size(100%, 180px);
    @include position(absolute, null null 0 null);
    background: rgba(255, 255, 255, .9);
    will-change: transform;
    transform: translateY(130px);
    transition: transform 250ms ease;
    
    &::before {
      @include size(100%, 360px);
      @include position(absolute, -310px null null 0);
      content: "";
    }

    a {
      margin-bottom: 16px;
    }
  }
  @include for-tablet-portrait-up() {
    flex: 0 0 50%;
    height: $work-height-medium;
  }
  @include for-big-desktop-up() {
    height: $work-height-large;
  }
}

.article-title {
  margin-top: 100px;
  font-size: 3rem;
  font-weight: 300;
  
  @include for-phone-only() {
    margin: 12px 0 8px;
    font-size: 2rem;
    font-weight: 400;
  }
  @include for-tablet-portrait-up() {
    color: lighten($header-color, 2.5%);
  }
}

.article-description {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;

  @include for-phone-only() {
    margin: 0 0 16px;
    font-size: 1.6rem;
    color: darken($font-color, 5%);
  }
}

article.left .article-image-container {
  @include for-phone-only() {
    border-radius: 2px;
  }
  @include for-tablet-portrait-up() {
    right: 0;
    border-top-left-radius: $work-height-medium / 2;
    border-bottom-left-radius: $work-height-medium / 2;
  }
  @include for-big-desktop-up() {
    border-top-left-radius: $work-height-large / 2;
    border-bottom-left-radius: $work-height-large / 2;
  }
}
article.right .article-image-container {
  @include for-phone-only() {
    border-radius: 2px;
  }
  @include for-tablet-portrait-up() {
    left: 0;
    border-top-right-radius: $work-height-medium / 2;
    border-bottom-right-radius: $work-height-medium / 2;
    flex-direction: row-reverse;
  }
  @include for-big-desktop-up() {
    border-top-right-radius: $work-height-large / 2;
    border-bottom-right-radius: $work-height-large / 2;
  }
}
article.right {
  @include for-tablet-portrait-up() {
    justify-content: flex-end;
  }
}

.article-image-container {
  @include size(50vw, $work-height-medium);
  position: absolute;
  overflow: hidden;
  z-index: 2;

  @include for-phone-only() {
    @include size(calc(100vw - 16px), $work-height-small);
    top: 0;
    z-index: -1;
  }
  @include for-big-desktop-up() {
    height: $work-height-large;
  }

  img {
    @include position(relative, null null null 50%);
    transform: translateX(-50%);
    min-width: 50vw;
    min-height: $work-height-medium;
    margin: auto;

    @include for-phone-only() {
      min-width: 100vw;
      min-height: $work-height-small;
    }
    @include for-big-desktop-up() {
      min-height: $work-height-large;
    }
  }
}